
practicals/prac6/mc_reduction.cu
Videos/CWM HPC and Scientific Computing L3E Video Wilkins.mp4
Videos/CWM HPC and Scientific Computing L3D Video Wilkins.mp4
Videos/CWM HPC and Scientific Computing L3C Video Wilkins.mp4
Videos/CWM HPC and Scientific Computing L3B Video Wilkins.mp4
Videos/CWM HPC and Scientific Computing L3A Video Wilkins.mp4
Videos/CWM HPC and Scientific Computing L2 Video Armour June2020.pptx.mp4
Videos/CWM HPC and Scientific Computing L1 Video Armour June2020.pptx.mp4
SlideShows/CWM HPC and Scientific Computing L2 SlideShow Armour May2020.ppsx
SlideShows/CWM HPC and Scientific Computing L1 SlideShow Armour May2020.ppsx
Slides/template.pptx
Slides/Recaps/3_2_recap.pptx
Slides/Recaps/2_1_0_recap.pptx
Slides/CWM HPC and Scientific Computing L9 Slides Armour June2020.pptx
Slides/CWM HPC and Scientific Computing L8 Slides Armour June2020.pptx
Slides/CWM HPC and Scientific Computing L7 Slides Armour June2020.pptx
Slides/CWM HPC and Scientific Computing L6 Slides Wilkins June2020.pptx
Slides/CWM HPC and Scientific Computing L5 Slides Armour June2020.pptx
Slides/CWM HPC and Scientific Computing L4 Slides Brown June2020.pptx
Slides/CWM HPC and Scientific Computing L4 Slides Brown June2020.pdf
Slides/CWM HPC and Scientific Computing L3 Slides Wilkins June2020.pptx
Slides/CWM HPC and Scientific Computing L2 Slides Armour June2020.pptx
Slides/CWM HPC and Scientific Computing L1 Slides Armour June2020.pptx
Slides/0_Introduction.pptx
Videos/CWM HPC and Scientific Computing L1 Video Armour June2020.mp4
Videos/CWM HPC and Scientific Computing L2 Video Armour June2020.mp4
Videos/CWM HPC and Scientific Computing L5 Video Armour June2020.mp4
Accounts/Accounts.xlsx
Accounts/teaching51.docx
Accounts/teaching52.docx
Accounts/teaching54.docx
Accounts/teaching57.docx
Accounts/teaching58.docx
Accounts/teaching59.docx
Accounts/teaching60.docx
Accounts/teaching61.docx
Accounts/teaching62.docx
Accounts/teaching63.docx
Accounts/teaching64.docx
Accounts/teaching65.docx
Accounts/teaching66.docx
Accounts/teaching67.docx
Accounts/teaching68.docx
Accounts/teaching69.docx
Accounts/teaching70.docx
*.ppsx
*.mp4
*.pptx
Assignment_2020/Assignment.docx
Assignment_2020/Assignment.docx
Practicals/prac3/notes/practical_three.docx
*.docx
Practicals/prac3/notes/practical_three.docx
*.docx
Practicals/prac6/notes/practical_six.docx
Practicals/prac5/notes/practical_five.docx
